$bar-height: 50px;

.bar {
  position: fixed;
  width: 100%;
  padding: 8px;
  left: 0px;
  height: $bar-height;
  background-color: white;
}

.life-header {
  top: 0px;
}

.time-footer {
  bottom: 0px;
}

.mini-game {
  width: 100%;
  margin-top: $bar-height;
  margin-bottom: $bar-height;
}

.face {
  width: 287px;
  height: 380px;
  margin-left: 50px;
  margin-top: 50px;
  position: relative;
}

.hair {
  position: absolute;
  width: 331px;
  height: 310px;
  left: 23px;
  top: 213px;
}
